.card {

    width: 15rem;
    height: 33rem;
    padding: 1rem;
    border-radius: 10px;
    margin: auto 2rem ;
    margin-bottom: 2rem;
    background: rgb(217, 217, 217);
    background: linear-gradient(0deg, rgba(217, 217, 217, 1) 2%, rgba(60, 110, 113, 1) 65%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    &__img {
        margin-top: 1rem;
        width: 6rem;
        height: 17rem;
    }
}