@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-primary : 'Bebas Neue', cursive;

$font-color: #284B63;

$color-primary: #3C6E71;
$color-secondary: #D9D9D9;
$color-white: #fafafafa;
$color-dark: #353535;
$color-dark-blue: #284B63;